:root {font-size: 62.5%;}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

body {
    background-color: rgb(245, 245, 245);
}

h1 {
    width: 35.4rem;
    text-align: center;
    margin: auto;
    padding-top: 5rem;
    font-size: 4rem;
}

div#header {
    height: 14rem;
    width: 100%;
    margin: auto;
}

div#container {
    margin: auto;
    padding: 2.5rem;
    height: 45rem;
    width: 30rem;
    display: grid;
    grid-template:
        /* d: display, e: = */
        'd d d d' 1.5fr
        '. . . .' 1fr
        '. . . .' 1fr
        '. . . .' 1fr
        '. . . .' 1fr
        'e e e .' 1fr / 1.3fr 1.3fr 1.3fr 1fr;
    gap: 1rem;
    background-color: rgb(230, 230, 230);
    border: 0.2rem black solid;
    border-radius: 2rem;
    box-shadow: 0.5rem 0.4rem 1.7rem 0 rgba(50, 50, 50, 0.64);
}

input,
div#display {
    border: 0.2rem gray solid;
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    outline: none;
    box-shadow: 0 0 0.25rem rgba(50, 50, 50, 0.64);
}

input {cursor: pointer}

div#display {
    grid-area: d;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

div#display > p {
    width: fit-content;
    font-size: 3rem;
    text-align: right;
    padding-right: 2rem;
}

input.equals {grid-area: e}
input.equals:hover {background-color: rgba(230, 230, 230, 0.5)}

input.clear {background-color: rgb(123, 213, 255)}
input.clear:hover {background-color: rgb(88, 202, 255)}

input.backspace:hover {background-color: rgba(230, 230, 230, 0.5);}

input.number {background-color: white}
input.number:hover {background-color: rgb(245, 245, 245)}

input.operator {background-color: rgb(255, 200, 80)}
input.operator:hover {background-color: rgb(255, 187, 41)}